.slide_gig {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    height: 575px;

    .container_gig {

        position: relative;
        overflow: hidden;
        width: 400px;
        height: 400px;
        display: inline-block;

        h1{
            color:#404145;
            font-family: "Montserrat", sans-serif;
        }
    }
}